.imagebox {
  width: 100vw;
  height: 100%;
  position: absolute;
  display: flex;
  top: 0px;
  z-index: -10;
}

[class^="img_"] {
  transform: rotate(9deg);
}

img {
  margin-top: 4%;
  margin-left: 24%;
  object-fit: cover;
  transition: all 0.17s;
  position: fixed;
  z-index: -1;
  width: 70vw;
  height: 80vh;
  display: inline-block;
}

ul {
  list-style: none;
}

.content {
  padding: 0 1vw;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  position: fixed;
  z-index: 15;
}

.content_ul {
  font-family: "Otomanopee One", sans-serif;
  font-size: 7.8vw;
  font-weight: 50;
  padding-top: 25vh;
}
.content_li {
  margin-top: 1.7vw;
  opacity: 0.6;
  margin-left: 5vw;
}

.nameList {
  transition: all 0.17s;
}

#list_1:hover ~ div > .img_1 {
  transform: rotate(20deg);
  z-index: 100;
}

#list_2:hover ~ div > .img_2 {
  transform: rotate(20deg);
  z-index: 100;
}

#list_3:hover ~ div > .img_3 {
  transform: rotate(20deg);
  z-index: 100;
}

#list_4:hover ~ div > .img_4 {
  transform: rotate(20deg);
  z-index: 100;
}

#list_5:hover ~ div > .img_5 {
  transform: rotate(20deg);
  z-index: 100;
}

#list_6:hover ~ div > .img_6 {
  transform: rotate(20deg);
  z-index: 100;
}
#list_7:hover ~ div > .img_7 {
  transform: rotate(20deg);
  z-index: 100;
}

.nameList:hover {
  opacity: 0.5;
}

span {
  cursor: pointer;
}
